{% extends 'base.html' %}
{% load bulma_tags %}

{% block content %}
    {% if validlink %}
        <div class="m-4">
            <h2>Forgot Password</h2>
            <form method="post">
                {% csrf_token %}
                {{ form|bulma }}
                <button type="submit" class="button is-primary">Change Password</button>
            </form>
        </div>
    {% else %}
        <p>
            The password reset link was invalid, possibly because it has already been
            used. Please request a new password reset.
        </p>
    {% endif %}
{% endblock content %}