{% extends "base.html" %}

{% block content %}
    <h1 class="title is-size-1 is-size-4-mobile">Course Sign Up</h1>
    <div id="app">
        <article v-for="course in eligibleCourses" class="media">
            <figure class="media-left">
                <div class="box has-background-info-dark">
                    <strong class="is-size-3 has-text-primary">
                        [[ course.abbreviation ]]
                    </strong>
                </div>
            </figure>
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong class="is-size-5">[[ course.name ]]</strong>
                        <br>
                        [[ course.description ]]
                    </p>
                    <p v-if="course.requirement">
                        <b>Requirement: [[ course.requirement.name ]]</b>
                    </p>
                </div>
            </div>
        </article>
    </div>
    <script type="text/javascript">
        let app = new Vue({
            el: '#app',
            delimiters: ['[[', ']]'],
            data: {
                eligibleCourses: {}
            },
            created() {
                this.getEligbleCourses()
            },
            methods: {
                getEligbleCourses: function () {
                    fetch("http://127.0.0.1:8000/api/eligible_courses/")
                        .then(response => response.json())
                        .then(data => this.eligibleCourses = data)
                }
            }
        })
    </script>
{% endblock %}