{% extends "base.html" %}
{% load rest_framework %}

{% block content %}
    <a href="{% url "registration_home" %}" class="button mb-3">
        <span class="icon">
            <i class="fas fa-chevron-circle-left"></i>
        </span>
        <span>Back to Registration Home</span>
    </a>
    <h1 class="title is-size-1 is-size-4-mobile">Course Sign Up</h1>
    <article class="message is-info">
        <div class="message-header">
            <div>
                <span class="icon">
                    <i class="fas fa-info-circle"></i>
                </span>
                <span>Cart Policies</span>
            </div>
        </div>
        <div class="message-body">
            <p>A course can only be added to your cart when:</p>
            <div class="content">
                <ul>
                    <li>The course has no prerequisite courses.</li>
                    <li>
                        The course has prerequisites and you have the prerequisite
                        courses in
                        your cart.
                    </li>
                    <li>
                        The course has prerequisites and you are already enrolled in the
                        prerequisite course.
                    </li>
                    <li>
                        A course of the same type is not already in the cart. You cannot
                        sign
                        up for the same course twice. i.e. You cannot sign up for two
                        sessions
                        of Snow Travel 1.
                    </li>
                </ul>
            </div>
            <p>Discounts:</p>
            <div class="content">
                <ul>
                    {% for discount in discounts %}
                        <li>
                            {{ discount.number_of_courses }} course discount:
                            {{ discount.discount_human }} off total
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </article>
    <div id="app">
        <article v-for="courseType in eligibleCourses" class="media">
            <figure class="media-left is-hidden-mobile">
                <div class="box has-background-info-dark">
                    <strong class="is-size-3 has-text-primary">
                        [[ courseType.abbreviation ]]
                    </strong>
                </div>
            </figure>
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong class="is-size-5">[[ courseType.name ]]</strong>
                        <br>
                        <b class="is-size-5">[[ courseType.cost_human ]]</b>
                        <br>
                        [[ courseType.description ]]
                    </p>
                    <p v-if="courseType.requirement">
                        <b>Requirement: [[ courseType.requirement.name ]]</b>
                    </p>

                </div>
                <article v-for="course in courseType.course_set" class="media">
                    <div class="media-left">
                        <strong>[[ course.specifics ]]</strong>
                    </div>
                    <div class="media-content">
                        <span v-if="!course.is_full" class="tag is-dark">
                            <span class="icon"><i class="fas fa-users mr"></i></span>
                            <span>[[ course.spots_left ]] spots left</span>
                        </span>
                        <span v-if="course.is_full" class="tag is-danger">
                            <span class="icon"><i class="fas fa-circle mr"></i></span>
                            <span>Full</span>
                        </span>
                        <article v-for="courseDate in course.coursedate_set">
                            <p>
                                <b>[[ courseDate.name ]]:</b>
                                [[ getDates(courseDate.start, courseDate.end) ]]
                            </p>
                        </article>
                        <div v-if="course.is_full">
                            <div v-if="course.user_on_wait_list.id">
                                <button @click="leaveWaitList(course.user_on_wait_list.id)"
                                        class="button is-danger">
                                    <span class="icon">
                                        <i class="fas fa-times"></i>
                                    </span>
                                    <span>Leave Wait List</span>
                                </button>
                            </div>
                            <div v-else>
                                <button @click="joinWaitList(course.id)"
                                        class="button is-warning"
                                        :disabled="course.user_enrolled">
                            <span class="icon">
                                <i class="fas fa-list"></i>
                            </span>
                                    <span>Join Wait List</span>
                                </button>
                            </div>
                        </div>
                        <button v-else :disabled="!courseType.eligible"
                                @click="addToCart(course.id)"
                                class="button is-primary mt-2 px-5">
                            <span class="icon">
                                <i v-if="courseType.eligible && !course.is_full"
                                   class="fas fa-cart-plus"></i>
                                <i v-else class="fas fa-ban"></i>
                            </span>
                            <span>Add To Cart</span>
                        </button>
                    </div>
                    <br>
                </article>
            </div>
        </article>
        <div class="columns is-centered">
            <a href="{% url "cart" %}"
               class="button is-dark is-large is-fullwidth"
               style="margin-top: 100px">
                <span class="icon">
                    <i class="fas fa-shopping-cart"></i>
                </span>
                <span>Proceed to Cart</span>
            </a>
        </div>
    </div>

    <script type="text/javascript">
        let app = new Vue({
            el: '#app',
            delimiters: ['[[', ']]'],
            data: {
                eligibleCourses: []
            },
            created() {
                this.getEligbleCourses()
            },
            methods: {
                getEligbleCourses: function () {
                    fetch("{% url "api:eligible_courses-list" %}")
                        .then(response => response.json())
                        .then(data => this.eligibleCourses = data)
                },
                addToCart: function (courseId) {
                    let formData = new FormData()
                    formData.append("course", courseId)
                    formData.append("csrfmiddlewaretoken", "{{ csrf_token }}")

                    fetch("{% url "api:cart_item-list" %}", {
                        method: "POST",
                        body: formData
                    }).then(this.getEligbleCourses)
                },
                joinWaitList: function (courseId) {
                    let formData = new FormData()
                    formData.append("course", courseId)
                    formData.append("csrfmiddlewaretoken", "{{ csrf_token }}")

                    fetch("{% url "api:wait_list-list" %}", {
                        method: "POST",
                        body: formData
                    }).then(this.getEligbleCourses)
                },
                leaveWaitList: function (waitListId) {
                    let formData = new FormData()
                    formData.append("csrfmiddlewaretoken", "{{ csrf_token }}")

                    fetch("{% url "api:wait_list-list" %}" + waitListId + "/",
                        {
                            method: "DELETE",
                            headers: {"X-CSRFToken": "{{ csrf_token }}"}
                        })
                        .then(this.getEligbleCourses)
                },
                getDates: function (date1, date2) {
                    date1 = new Date(date1)
                    date2 = new Date(date2)

                    date1 = date1.toDateString()
                    date2 = date2.toDateString()

                    if (date1 === date2) {
                        return date1
                    } else {
                        return date1 + " - " + date2
                    }
                }
            }
        })
    </script>
{% endblock %}