{% extends 'base.html' %}

{% block content %}
    <h1 class="title is-size-1">Gear Lists</h1>
    <p class="block">
        All items listed should be acquired prior to the outing it is needed. If you have any questions about specific
        gear, please contact <a href="mailto:skagitbmcinstructors@gmail.com">skagitbmcinstructors@gmail.com</a>. For
        those items listed for the 12 week course as "can be shared" these do not need to be purchased before the course
        starts if others in the group already have them.
    </p>
    {% for course in courses %}
        <div class="content">
            <p><strong>{{ course.name }}</strong></p>
            <ul>
                {% for item in course.gearitem_set.all %}
                    <li>{{ item.item }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
{% endblock content %}