{% extends "base.html" %}

{% block content %}
    <div class="content">
        <h2 class="title is-size-2">Welcome to 2023 BMC Registration</h2>
        <h4>Basic Mountaineering Course- 8 week course</h4>
        <p> This 8-week course provides an introduction to outdoor rock climbing, navigation, ice axe arrest, rope team
            travel, lead belay, and crevasse rescue. The course utilizes Mountaineering: Freedom of the Hills as
            foundational reading prior to experiential coursework. Each week includes readings, classroom practice, and
            an outing that will provide recurring practice with skills a mountaineer will need to travel safely in the
            alpine. Participants must show basic skills competence during weekday session prior to weekend outing.
        </p>
        <div class="block">
            <b>Eligibility Requirements</b>
            <br>
            <p>To be eligible for courses you must:</p>
            <ol>
                <li>Have a health insurance policy that is active throughout the duration of the entire course</li>
                <li>Be over the age of 18 by the time the course begins</li>
            </ol>
        </div>
        <h4>Fitness Levels</h4>
        <p>
            Each outing will be physically demanding and requires strong hiking fitness and endurance. We recommend that
            all students engage in several weeks of regular hiking experience with more than 1,000ft of elevation gain
            each hike prior to starting the course. Strength training experience is also recommended. Prior to the
            course there will be a mandatory fitness hike.
            <b>
                All participants in the 8 week course will need to show that they are able to carry 30lbs up the Pine &
                Cedar Trail in the Chuckanuts in under 1 hour and 5 minutes.
            </b>
        </p>
        <h4>Important Dates</h4>
        <ul>
            <li>December 19th-January 6th: <a href="https://forms.gle/QPr2TjnMpJuZi45K8">Scholarship applications</a>
                accepted
            </li>
            <li>January 9th-January 15th: Application open to Skagit County Residents</li>
            <li>
                January 11th: Information session for Basic Mountaineering Course -
                <a href="https://us02web.zoom.us/j/81300273854?pwd=VThJcGJsNFRsQlhrckVlVGkxUktndz09">Zoom Link</a>
            </li>
            <li>January 16th- March 1st: Application opens to everyone. Waitlist will open once positions fill.</li>
            <li>March 1st: Registration Closes</li>
            <li>March 18th: Course Starts</li>
        </ul>
        <div class="block buttons">
            <a href="{% url "available_courses" %}" class="button is-primary">
                Details and Course Dates
            </a>
            <a href="{% url "gear_lists" %}" class="button is-info">
                Gear Lists
            </a>
        </div>
        <h4>8-week Mountaineering Course Fees</h4>
        <p>
            <b>Registration for this course is $550 and is due at time of registration.</b>
            All course registrations include a one-year membership to the Skagit Alpine Club meetings, newsletters, and
            events. Registration does not include gear list items.
        </p>
        <p>
            Scholarship opportunities available. See Frequently Asked Questions section for more information.
        </p>
        <div class="block buttons">
            <a href="{% url "registration_home" %}" class="button is-primary">
                Sign Up
            </a>
        </div>
        <h4>Cancellation</h4>
        <h5>Refund Policy</h5>
        <p>
            Payment required in full at time of registration. After registration, full refunds minus a $25 cancellation
            fee are available until two weeks prior to the start of the first course date. No refunds available after
            two weeks before first course date.
        </p>
        <p>
            For the safety of all, students experiencing any possible symptoms of COVID or exposed to anyone with COVID
            symptoms should report them immediately. Students will get a full refund or transfer to a later course if an
            isolated quarantine period is required.
        </p>
        <h5>Course Cancellations</h5>
        <p>
            If courses are cancelled based on CDC guidelines or COVID restrictions, a full refund will be provided.
            Courses that do not meet the minimum enrollment may be cancelled with full refund.
        </p>
        <h5>COVID Notice</h5>
        <p>
            All courses are subject to change based on CDC guidelines. If courses are cancelled based on COVID
            restrictions, a full refund will be provided. CDC guidelines will be followed throughout courses, and
            students may be asked to leave without refund if not adhering to policies. Students will be asked to
            complete a COVID Waiver to acknowledge policies prior to course start.
        </p>
        <hr>
        <h3>Frequently Asked Questions</h3>
        <h5>What kind of trips will this class prepare me for?</h5>
        <p>
            The Basic Mountaineering Course prepares students to be a safe and competent team member on rock climbing
            and
            glacier travel trips in the Pacific Northwest. You won't learn to lead rock or ice in this class, but you
            will learn the skills to be a competent climbing partner and will gain an understanding of wilderness
            navigation, snow camping, glacier travel, and rock climbing. After the class, students have joined others to
            climb peaks such as Mount Baker, Glacier Peak, Mount Shuksan, Eldorado Peak, Sahale Mountain, and Cutthroat
            Peak.
        </p>
        <h5>Are there any prerequisites or requirements for the class?</h5>
        <p>
            All participants must be at least 18 years of age at the start of the class and have health insurance for
            the
            duration of the course. The only other prerequisite for this course is a fitness level that meets our
            physical fitness requirement. It is recommended that participants have had backpacking (overnight hiking)
            experience prior to the course, but this is not required.
        </p>
        <h5>How physically fit do I need to be for this class?</h5>
        <p>
            Mountaineering is a physically demanding sport. When out in remote areas of the wilderness, your fitness
            level contributes to the speed and safety level of the group. Therefore, this course requires a base fitness
            level. Each outing will be physically demanding and requires strong hiking fitness and endurance. We
            recommend that all students engage in several weeks of regular hiking experience with more than 1,000ft of
            elevation gain each hike prior to starting the course. Strength training experience is also recommended.
            Prior to the course there will be a mandatory fitness hike.
            <b>
                All participants in the 8 week course will need to show that they are able to carry at least 30lbs up
                the Pine & Cedar Trail in the Chuckanuts in under 1 hour and 5 minutes.
            </b>
        </p>
        <h5>How much gear do I need? How much should I expect to spend on gear?</h5>
        <p>
            Depending on how much outdoors gear you already own (you may already have a lot of the clothing just by
            living in the Pacific NW!) and how much you may be able to borrow and rent, you can spend as little as $200
            and as much as $3000. Our coordinators can answer questions about which items can safely be purchased
            pre-owned, or answer questions on your current objectives and interests to decide which items could be
            rented or may be better to purchase. Please contact
            <a href="mailto:skagitbmcinstructors@gmail.com">skagitbmcinstructors@gmail.com</a> for questions. The gear
            list is extensive and we encourage those that are taking the course to start reviewing the items early to
            ensure they have all supplies by the outing they are needed.
        </p>
        <h5>Who teaches the class? How much experience do instructors have?</h5>
        <p>
            Note that we are not a guiding service. The class is run and taught by volunteers who are passionate about
            mountaineering and want to teach others about it. Some of us have decades of climbing experience, while
            others have just graduated from the class.
        </p>
        <h5>How much climbing experience should I have to apply?</h5>
        <p>
            We don't assume any prior climbing background, but it does help to have some. Familiarity with some of the
            climbing techniques will make it that much easier and faster for you to understand the class material.
        </p>
        <h5>What level of rock climbing will we be attempting in the class?</h5>
        <p>
            The rock climbing that we do in the course begins at 5.6
            (<a href="http://en.wikipedia.org/wiki/Yosemite_Decimal_System">Yosemite Decimal Scale</a>), which most
            physically fit people should be able to climb with no prior climbing experience. Courses will provide
            options to challenge your skill level. Our climbing courses typically use rock climbing shoes for these
            outings but recognize that alpine climbing can include climbing with mountaineering boots as well.
        </p>
        <h5>I've rock climbed a lot but don't have much glacier experience. Would this class be appropriate for me?</h5>
        <p>
            Yes! The course layers rock climbing and snow/glacier travel experience together. Some of the knots and
            materials will be similar in different settings, and some will be unique to each location. Many students
            come in with some experience in one area of the program, but learn more and challenge their skills.
        </p>
        <h5>Why is a commitment of one day of trail/environmental/community stewardship part of the class?</h5>
        <p>
            Similar to many other volunteer-led basic climbing courses (Washington Alpine Club, The Moutaineers and many
            others) we recognize our impact on the natural environment and work to mitigate our recreational footprint.
            We are building in a required trail maintenance day to support our mission as an organization while
            continuing to support the physical training and community within the course. This boots-on-the-ground work
            is necessary to keep use areas in good condition. It also connects people to places where they love to play,
            and, in doing so, volunteers develop life-long outdoor ethics that lead to respecting and protecting the
            mountain environment.
        </p>
        <h4>Time Commitment</h4>
        <h5>What is the time commitment?</h5>
        <p>
            The class is a significant time commitment. The class has a total of 8 four hour Wednesday night classroom
            sessions and 10 weekend field trips (including trail maintenance and fitness hike) over a period of 12
            weeks. Many of the weekend outings are overnight trips that require full weekend commitments (leaving early
            Saturday morning or Friday night, and returning later Sunday evening). You are also expected to complete the
            weekly reading and homework assignments. All components of the course are required to fully learn the skills
            and participate in future classes and outings.
        </p>
        <h5>
            I'm going to have to miss a Wednesday night class or a weekend field trip. Should I still apply for the
            class?
        </h5>
        <p>
            No, since the skills acquired each week build on each other, all class lectures and outings are mandatory.
            Space in the course is limited and we ask that all participants commit to the full course prior to
            registering.
        </p>
        <h5>How flexible is the schedule?</h5>
        <p>
            Classes and outings are intentionally formatted to build on each other and incorporate new skills each week.
            Students required to attend all classes and field trips and all of them are only offered once, therefore the
            schedule is not flexible.
        </p>
        <h5>
            What if, due to illness or unexpected emergency, I am not able to attend a lecture or weekend field trip,
            will this impact my ability to finish the course?
        </h5>
        <p>
            To the best of our ability, we will provide make-up learning sessions where you can work with an instructor
            1:1. Your ability to continue on in the course will depend on the length of your absence and capacity to
            make up the material in a timely manner.
        </p>
        <h4>Application Process</h4>
        <h5>Are there scholarships available?</h5>
        <p>
            We recognize that mountaineering can be a costly sport, and want to encourage access for all to learn the
            skills and build community in the outdoors. We will have one full scholarship, covering the course fee each
            year that will be open prior to the start of registration. Priority for scholarships go to supporting
            communities and identities that are not well-represented in the outdoor industry including Black,
            Indigenous, and people of color, and LGBTQ+ individuals, and those that would not otherwise be able to
            participate in the course. All items on the gear list are still up to the individual to collect.
        </p>
        <p><b><a href="https://forms.gle/QPr2TjnMpJuZi45K8">Click here for the Scholarship Application Form</a></b></p>
        <h5>I’m in! How do I sign up?</h5>
        <p>
            In 2023 we are restructuring our application process slightly to encourage participation by Skagit County
            residents and support access to the outdoors for all. We have also set a requirement that all participants
            have met the basic fitness levels outlined above.
            The course has a limited number of spaces to make sure that students get the support that they need. Over
            the last few years, the course has filled up quickly after registration opens. This year’s application
            timeline will be adjusted as follows:
        </p>
        <ul>
            <li>Scholarship applications accepted: December 19th-January 6th</li>
            <li>Application open to Skagit County Residents: January 9th-January 15th</li>
            <li>Application opens to everyone: January 16th- March 1st</li>
        </ul>
        <p>
            All students will be required to pay in full (with exception of scholarship recipients) at time of
            registration. If students are not physically fit enough to complete the fitness hike, a full refund will be
            given and students will be removed from the course.
        </p>
        <p>
            Once all spaces are filled, waitlists will begin. Waitlist participants will be offered to join the initial
            fitness hike and if registered students are not able to meet the minimum requirements of the fitness hike,
            then waitlist participants may be offered a space if they are able to meet physical fitness requirements of
            fitness hike.
        </p>
        <h5>Do I need any first aid training to take the class?</h5>
        <p>
            No, we don't assume first aid training, but it helps to have some, especially
            <a href="http://www.nols.edu/portal/wmi/courses/wfa/wa/">wilderness first aid.</a>
        </p>
        <h5>If you have any other questions, contact us!</h5>
        <p><a href="mailto:skagitbmcinstructors@gmail.com">skagitbmcinstructors@gmail.com</a></p>
    </div>
{% endblock %}
