{% extends "base.html" %}

{% block content %}
    <div class="">
        <h2 class="title is-size-2">Welcome to 2022 BMC Registration</h2>
        <p class="block">
            <b>Overview</b>
            <br>
            The Skagit Alpine Club usually runs an 8 week Basic Mountaineering Course
            annually. The course typically covers basic rock climbing and mountaineering
            skills. We are still developing the structure of the class for 2022. Updates
            will be posted to this website as they become available.
        </p>
        <div class="block buttons">
            <a href="{% url "available_courses" %}"
               class="button is-info">
                See Courses From 2021
            </a>
{#            Removing button until 2022 registration opens #}
{#            <a href="{% url "registration_home" %}" class="button is-success">#}
{#                Sign Up for Courses#}
{#            </a>#}
        </div>
        <p class="block">
            <br>
            <b>Fitness Levels</b>
            Each outing will be physically demanding and requires strong hiking fitness
            and endurance. We recommend that all students have weeks of regular hiking
            experience with more than 1,500ft of elevation gain each hike. Strength
            training experience is also recommended.
        </p>
        <p class="block">
            <b>Course Fees</b>
            <br>
            Course cost is still being determined.
        </p>
        <p class="block">
            All Course registrations include a one-year membership to the Skagit Alpine
            Club meetings, newsletters, and events.
        </p>
        <p class="block">
            <b>COVID Notice</b>
            <br>
            All courses are subject to change based on Washington protocols.
            If courses are cancelled based on COVID restrictions, a full refund will be
            provided. COVID requirements will be strictly adhered to throughout courses.
            Students will be asked to complete a COVID Waiver for each course.
        </p>
        <p class="block">
            <b>Cancellation & Refund Policy</b>
            <br>
            If courses are cancelled based on COVID restrictions, a full refund will be
            provided. Courses that do not meet the minimum enrollment may be cancelled
            with full refund or offer transfers to other course dates.
        </p>
        <p class="block">
            Cancellations by a participant more than 2 weeks before to the start of a
            course will be refunded minus a $25 cancellation fee per course.
            Cancellations by a participant within 2 weeks of the start of a course will
            not receive a refund.
        </p>
        <p class="block">
            Students experiencing any possible symptoms of COVID or exposed to anyone
            with COVID symptoms should report them immediately. Students will get a full
            refund or transfer to a later course if an isolated quarantine period and
            negative COVID test are confirmed.
        </p>

    </div>
{% endblock %}