{% extends "base.html" %}

{% block content %}
    <h1 class="title is-2 has-text-centered is-size-3-mobile">Registration Home</h1>
    <div class="tile is-ancestor is-vertical">
        <div class="tile">
            <div class="tile is-parent">
                {% if registration_complete %}
                    <article class="tile is-child notification is-success">
                        <h1 class="subtitle is-3">Registration Form Status:
                            <b class="is-primary">Completed</b></h1>
                        <p class="mb-4">You have completed your registration form and
                            can now sign up for classes.
                            You may edit your registration form at any time.</p>
                        <a href="{% url "registration_info_form" %}"
                           class="button is-medium">Edit Registration Form</a>
                    </article>
                {% else %}
                    <article class="tile is-child notification is-warning">
                        <h1 class="subtitle is-3">Registration Form Status:
                            <b>Incomplete</b>
                        </h1>
                        <p class="mb-4">Complete your registration form to signup for
                            classes.</p>
                        <a href="{% url "registration_info_form" %}"
                           class="button is-medium">Complete Registration Form</a>
                    </article>
                {% endif %}
            </div>
            <div class="tile is-parent">
                <article class="tile is-child notification is-dark">
                    <h1 class="title">Your Classes</h1>
                    {% if registration_complete %}
                        <p>You can signup for classes.</p>
                    {% else %}
                        <p>Once your complete your registration form you will be able to
                            sign up for classes here.</p>
                    {% endif %}
                </article>
            </div>
        </div>
        <div class="tile">
            <div class="tile is-parent">
                <article class="tile is-child notification is-link">
                    <h1 class="title is-3">Available Classes</h1>
                    {% for course_type in available_courses %}
                        <hr>
                        <div>
                            <h1 class="subtitle is-4 mb-0">{{ course_type.name }}</h1>
                            <p class="mb-3">{{ course_type.description }}</p>
                            {% if course_type.requirement %}
                                <p><b>Prerequisite
                                    course: {{ course_type.requirement }}</b></p>
                            {% endif %}
                            {% for course in course_type.course_set.all|dictsort:"specifics" %}
                                <p class="is-size-4">{{ course.specifics }}</p>
                                <p><b>
                                    {{ course.participants.count }}/{{ course.capacity }}
                                    spots filled.
                                </b></p>
                                <ul>
                                    {% for date in course.coursedate_set.all %}
                                        <li>{{ date.name }}: {{ date.start.date }}
                                            {% if date.start.date != date.end.date %}
                                                - {{ date.end.date }}
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endfor %}
                        </div>
                    {% endfor %}

                </article>
            </div>
        </div>
    </div>
{% endblock %}