{% extends "base.html" %}

{% block content %}
    <h1 class="title is-2 has-text-centered is-size-3-mobile">Registration Home</h1>
    <div class="tile is-ancestor is-vertical">
        <div class="tile">
            <div class="tile is-parent">
                {% if registration_complete %}
                    <article class="tile is-child notification is-success">
                        <h1 class="subtitle is-3">Registration Form Status:
                            <b class="is-primary">Completed</b></h1>
                        <p class="mb-4">You have completed your registration form and
                            can now sign up for classes.
                            You may edit your registration form at any time.</p>
                        <a href="{% url "registration_info_form" %}"
                           class="button is-medium">Edit Registration Form</a>
                    </article>
                {% else %}
                    <article class="tile is-child notification is-warning">
                        <h1 class="subtitle is-3">Registration Form Status:
                            <b>Incomplete</b>
                        </h1>
                        <p class="mb-4">Complete your registration form to signup for
                            classes.</p>
                        <a href="{% url "registration_info_form" %}"
                           class="button is-medium">Complete Registration Form</a>
                    </article>
                {% endif %}
            </div>
            <div class="tile is-parent">
                <article class="tile is-child notification is-dark">
                    <h1 class="title">Course Sign Up</h1>
                    {% if registration_complete %}
                        <p class="mb-4">You can sign up for courses.</p>
                        <a href="{% url "course_signup" %}" class="button is-medium">Sign
                            Up For Courses</a>
                    {% else %}
                        <p>Once you complete your registration form you will be able to
                            sign up for courses here.</p>
                    {% endif %}
                </article>
            </div>
        </div>
        <div class="tile">
            <div class="tile is-parent">
                <article class="tile is-child notification is-info">
                    <h3 class="title is-size-3 has-text-centered">
                        Your Courses
                    </h3>
                    <hr>
                    {% if user_courses.exists %}
                        {% for course in user_courses %}
                            <div class="content">
                            <span class="tag is-dark is-large">
                                <span>
                                    <strong>{{ course.type }}: </strong>
                                    {{ course.specifics }}
                                </span>
                            </span>
                                <ul>
                                    {% for course_date in course.coursedate_set.all %}
                                        <li>
                                            <b>{{ course_date.name }}:</b>
                                            {{ course_date.start|date:"D M d Y" }}
                                            {% if course_date.start.date != course_date.end.date %}
                                                - {{ course_date.end.date }}
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p>Once you sign up for courses they will be here.</p>
                    {% endif %}
                    <p>
                        Make sure to look at the
                        <a href="{% url "gear_lists" %}">Gear Lists</a>
                        to ensure you have all the required gear for your courses.
                    </p>
                </article>
            </div>
            {% if user_waitlist.exists %}
                <div class="tile is-parent">
                    <article
                            class="tile is-child notification is-warning has-text-dark">
                        <h3 class="title is-size-3 has-text-centered">Your Wait
                            List</h3>
                        <hr class="has-background-dark">
                        {% for course in user_waitlist %}
                            <div class="content">
                            <span class="tag is-dark is-large">
                                <span>
                                    <strong>{{ course.type }}: </strong>
                                    {{ course.specifics }}
                                </span>
                            </span>
                                <ul>
                                    {% for course_date in course.coursedate_set.all %}
                                        <li>
                                            <b>{{ course_date.name }}:</b>
                                            {{ course_date.start|date:"D M d Y" }}
                                            {% if course_date.start.date != course_date.end.date %}
                                                - {{ course_date.end.date }}
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endfor %}
                    </article>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}