{% extends "base.html" %}

{% block content %}
    <h1 class="title is-size-1">Current Registrations</h1>
    <div class="table-container">
        <table class="table is-striped is-fullwidth">
            <thead>
            <tr>
                <th>Registrant</th>
                <th>Email</th>
                <th><abbr title="Blue: registered & Yellow: on wait list">Courses</abbr>
                </th>
            </tr>
            </thead>
            <tbody>
            {% for user in registered_users %}
                <tr>
                    <th>
                        <a href="{% url "instructor:registrant" username=user.username %}">
                            {{ user.first_name }} {{ user.last_name }}
                        </a>
                    </th>
                    <td>{{ user.email }}</td>
                    <td>
                        <div class="tags">
                            {% for course in user.participants.all|dictsort:"type.name" %}
                                <span class="tag is-info">
                                    <b>{{ course.type.abbreviation }}:&nbsp;</b>
                                    {{ course.specifics }}
                                </span>
                            {% endfor %}
                            {% for wl in user.waitlist_set.all|dictsort:"course.type.name" %}
                                <span class="tag is-warning">
                                    <b>{{ wl.course.type.abbreviation }}:&nbsp;</b>
                                    {{ wl.course.specifics }} |
                                    &nbsp;<b>Place:&nbsp;</b>{{ wl.wait_list_place }}
                                </span>
                            {% endfor %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <h2 class="title is-size-2">Open Invoices</h2>
    <form method="post" action="{% url "instructor:instructor_check_invoices" %}" style="display: inline;">
        {% csrf_token %}
        <button type="submit" class="button is-info my-2" style="white-space: normal; height: auto; min-height: 2.5em; padding: 0.5em 1em;"
                onclick="return confirm('Are you sure you want to remove expired invoices and send invoices to the next people on the waitlist?');">Remove expired invoices and send invoice to next person on the *waitlist</button>
    </form>
    <p>*If no one else is on the waitlist the spot reopens for registration.</p>
    <div class="table-container">
        <table class="table is-striped is-fullwidth">
            <thead>
            <tr>
                <th>Registrant</th>
                <th>Email</th>
                <th><abbr title="Blue: registered & Yellow: on wait list">Courses</abbr>
                </th>
                <th>Expires</th>
            </tr>
            </thead>
            <tbody>
            {% for invoice in open_waitlist_invoices %}
                <tr>
                    <th>
                        <a href="{% url "instructor:registrant" username=invoice.user.username %}">
                            {{ invoice.user.first_name }} {{ invoice.user.last_name }}
                        </a>
                    </th>
                    <td>{{ invoice.user.email }}</td>
                    <td>
                        <div class="tags">
                            <span class="tag is-info">
                                <b>{{ invoice.course.type.abbreviation }}:&nbsp;</b>
                                {{ invoice.course.specifics }}
                            </span>
                        </div>
                    </td>
                    <td>{{ invoice.expires }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="content">
        {% for course_type in course_types %}
            <div class="message">
                <div class="message-header">
                    <span>{{ course_type.name }}</span>
                </div>
                <div class="message-body">
                    {% for course in course_type.course_set.all %}
                        <div class="mb-5">
                            <h3 class="has-text-info-dark">
                                <b>{{ course.specifics }}:&nbsp;</b>
                                {{ course.start_end_date.start__min|date:"D M d Y" }} -
                                {{ course.start_end_date.end__max|date:"D M d Y" }}
                            </h3>
                            <a href="{% url "instructor:participant_csv" course_pk=course.pk %}"
                               class="button is-small is-info my-2">Download CSV</a>

                            <h4 class="mt-4"><b>Participants</b></h4>
                            <div class="table-container">
                                <table class="table is-striped is-fullwidth">
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for registrant in course.participants.all|dictsort:"first_name" %}
                                        <tr>
                                            <td>
                                                <a href="{% url "instructor:registrant" username=registrant.username %}">
                                                    {{ registrant.first_name }} {{ registrant.last_name }}
                                                </a>
                                            </td>
                                            <td>
                                                <form method="post" action="{% url "refund" course_pk=course.pk user_pk=registrant.pk %}" style="display: inline;">
                                                    {% csrf_token %}
                                                    <button type="submit"
                                                            class="button is-small is-danger"
                                                            onclick="return confirm('Are you sure you want to disenroll {{ registrant.first_name }} {{ registrant.last_name }} from {{ course.specifics }} and process a refund? This action cannot be undone.');">
                                                        Disenroll and refund
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>

                            {% if course.waitlist_set.all %}
                                <h4 class="mt-4"><b>Waitlist</b></h4>
                                <div class="table-container">
                                    <table class="table is-striped is-fullwidth">
                                        <thead>
                                        <tr>
                                            <th>Position</th>
                                            <th>Name</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for waitlist_item in course.waitlist_set.all|dictsort:"date_added" %}
                                            <tr>
                                                <td>{{ forloop.counter }}</td>
                                                <td>
                                                    <a href="{% url "instructor:registrant" username=waitlist_item.user.username %}">
                                                        {{ waitlist_item.user.first_name }} {{ waitlist_item.user.last_name }}
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}