<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>BMC Registration</title>
</head>
<body>
<nav>
    <div class="">
        <ul>
            <li><a href="{% url "home" %}">BMC Registration</a></li>
        </ul>
        <ul class="">
            <li><a href="#">Schedule</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url "logout" %}">Logout</a></li>
            {% else %}
                <li><a href="{% url "signup" %}">Sign Up</a></li>
                <li><a href="{% url "login" %}">Login</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
{% block content %}{% endblock %}
<div style="margin-bottom: 200px"></div>
{% if messages %}
    {% for message in messages %}

    {% endfor %}
{% endif %}
</body>
</html>