<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>BMC Registration</title>
</head>
<body>
<nav>
    <div class="nav-wrapper">
        <ul>
            <li><a href="{% url "home" %}">BMC Registration</a></li>
        </ul>
        <ul id="nav-mobile" class="right">
            <li><a href="#">Schedule</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url "logout" %}">Logout</a></li>
            {% else %}
                <li><a href="{% url "signup" %}">Sign Up</a></li>
                <li><a href="{% url "login" %}">Login</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
{% block content %}{% endblock %}
<div style="margin-bottom: 200px"></div>
<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/js/materialize.min.js"
        integrity="sha256-SrBfGi+Zp2LhAvy9M1bWOCXztRU9Ztztxmu5BcYPcPE=" crossorigin="anonymous"></script>

<script>
    $(document).ready(function () {

        // Initialize materialize data picker
        $('.datepicker').datepicker({'format': 'yyyy-mm-dd'});
        $('select').formSelect();
    });
</script>
{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success' %}
            <script>M.toast({html: "{{message}}", classes: 'green rounded', displayLength: 5000});</script>
        {% elif message.tags == 'info' %}
            <script>M.toast({html: "{{message}}", classes: 'blue rounded', displayLength: 5000});</script>
        {% elif message.tags == 'warning' %}
            <script>M.toast({html: "{{message}}", classes: 'orange rounded', displayLength: 10000});</script>
        {% elif message.tags == 'error' %}
            <script>M.toast({html: "{{message}}", classes: 'red rounded', displayLength: 10000});</script>
        {% endif %}
    {% endfor %}
{% endif %}
</body>
</html>