<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>BMC Registration</title>
</head>
<body>
 <nav>
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="right">
        <li><a href="#">Schedule</a></li>
        <li><a href="#">Sign In</a></li>
      </ul>
    </div>
  </nav>
{% block content %}{% endblock %}
</body>
</html>